{
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)$",
    "^hooks/(.*)$",
    "^lib/(.*)$",
    "^styles/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
